@keyframes flow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes blink {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

:root {
    --blink: blink 1s cubic-bezier(1,-0.01,0,1.01) infinite;
    --flow: flow 8s ease-in-out infinite;
}