@keyframes flow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

:root {
    --blink: blink .9s cubic-bezier(1,-0.01,0,1.01) infinite;
    --flow: flow 8s ease-in-out infinite;
    --flow-blink: flow 8s ease-in-out infinite, blink .9s cubic-bezier(1,-0.01,0,1.01) infinite;
}